body {
    background-color: burlywood;
    text-align: center;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: black;
    margin-top: 0%;
    padding: 1%;
}
h2 {
    font-size: 55px;
    color: burlywood;
}
h3 {
    font-size: 30px;
    margin-bottom: 0%;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    align-content: center;
    padding: 15px;
    font-size: 28px;
    background-color: black;
    color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}